<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% if title %}
      <title>{{ title }}</title>
    {% else %}
      <title>Flask.io</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <a class="navbar-brand" href="{{ url_for('index') }}">Flask.io</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarColor" aria-controls="navbarColor"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('index') }}">Home</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            {% if current_user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('users.logout') }}">Logout</a>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('users.register') }}">
                  Sign Up
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('users.login') }}">
                  Sign In
                </a>
              </li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </header>
    <div class="container">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-danger mt-3" role="alert">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
